
$row-border-color: $black;
$background-color: $white;
$font-color: $black;
$chalk-text-color: $white;

body {
  background-color: $background-color;
  background-image: url('https://static1.squarespace.com/static/54e5f8d8e4b0c694a3dc90e4/t/5604087fe4b0d28c824e3a2a/1443104899453/Substation+Wood+Texture.jpg?format=2500w');
  color: $font-color;
}

.box {
  border: 1px solid $black;
  height: 40px;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/40/09/7c/40097c7c7c20699b0dcb1dfeccccd44e.jpg');
  width: 80%;
  margin: 0 auto;
}

.chalk-text {
  color: $chalk-text-color;
}

.space {
  width: 33%;
  border: 1px solid $black;
}
.space-mid {
  width: 34%;
  border: 1px solid $black;
}

.modalImage {
  width: 100%;
}

.portfolioImage {
  width: 500px;
}

.text-box {
  width: 100%;
}

.input-field {
  width: 32.8%;
}

// img {
//   width: 100%;
//   height: 100px;
// }
