
$row-border-color: $black;
$background-color: $white;
$font-color: $black;
$chalk-text-color: $white;

body {
  background-color: $background-color;
  background-image: url('../images/woodTexture.jpg');
  color: $font-color;
}

.box {
  border: 1px solid $black;
  height: 40px;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  background-image: url('../images/bluePrint.jpg');
  width: 80%;
  margin: 0 auto;
}

.chalk-text {
  color: $chalk-text-color;
}

.space {
  width: 33%;
  border: 1px solid $black;
}
.space-mid {
  width: 34%;
  border: 1px solid $black;
}

.modalImage {
  width: 100%;
}

// img {
//   width: 100%;
//   height: 100px;
// }
